<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJS</title>
    <link rel="stylesheet" href="">
    <script src="vue.js"></script>
</head>

<body>
<div id="app">
    <p>Interpolation</p>
    <h1 v-once>{{ title }}</h1>
    <p>{{ sayHello() }} - <a :href="link">Google</a></p>
    <p v-html="finishedLink"></p>
    <hr>

    <p>Listening to events</p>
    <button @click="increase(2, $event)">Click me</button>
    <p>{{ counter }}</p>
    <p @mousemove="updateCoordinates">
        Coordinates: ({{ x }}, {{ y }})
        - <span @mousemove.stop>DEAD SPOT</span>
    </p>
    <input type="text" @keyup.enter="alertMe">
    <hr>

    <p>Two-Way-Binding</p>
    <input type="text" v-model="name">
    <p>{{ name }}</p>
    <hr>

    <p>Computed and Watch Properties</p>
    <button @click="counterA++">Increase A</button>
    <button @click="counterA--">Decrease A</button>
    <button @click="counterB++">Increase B</button>
    <p>Counter: A={{ counterA }} B={{ counterB }}</p>
    <p>Result: A={{ resultMethodA() }} {{ resultComputedA }}</p>
    <hr>

    <p>Dynamic CSS</p>
    <div class="demo" @click="attachRed = !attachRed" :class="divClasses"></div>
    <div class="demo" :style="myStyle"></div>
    <div class="demo" :class="[color, {red: attachRed}]"></div>
    <br><input type="text" v-model="color">
    <input type="text" v-model="width">
</div>

<script>
    new Vue({
	    el: '#app',
        data: {
  	        title: 'Hello World!',
            link: 'http://google.com',
            finishedLink: '<a href="http://google.com">Google</a>',
            counter: 0,
            x: 0,
            y: 0,
            name: 'Deborah',
            counterA: 0,
            counterB: 0,
            attachRed: false,
            color: 'green',
            width: 100
        },
        computed: {
            resultComputedA: function() {
                console.log('Computed')
                return this.counterA > 5 ? 'Greater than 5' : 'Smaller than 5'
            },
            divClasses: function() {
                return {
                    red: this.attachRed, 
                    blue: !this.attachRed
                }
            },
            myStyle: function() {
                return {
                    backgroundColor: this.color,
                    width: this.width + 'px'
                }
            }
        },
        watch: {
            counterA: function(value) {
                var vm = this
                setTimeout(function() {
                    vm.counterA = 0
                }, 2000)
            }
        },
        methods: {
            sayHello: function() {
                this.title = 'Hello!'
                return this.title
            },
            increase: function(step, event) {
                return this.counter +=step 
            },
            updateCoordinates: function(event) {
                this.x = event.clientX
                this.y = event.clientY
            },
            alertMe: function() {
                alert('Alert!')
            },
            resultMethodA: function() {
                console.log('Method')
                return this.counterA > 5 ? 'Greater than 5' : 'Smaller than 5'
            }
        }
    })
</script>

<style>
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
        display: inline-block;
        margin: 10px;
    }
    .red {
        background-color: red;
    }
    .green {
        background-color: green;
    }
    .blue {
        background-color: blue;
    }
</style>
</body>
</html>
