<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJS - Exercise 5</title>
    <link rel="stylesheet" href="">
    <script src="../vue.js"></script>
</head>

<body>
  <div id="exercise">
    <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
    <div>
      <button @click="showText = !showText">Toggle</button>
      <p v-if="showText">You either see me ...</p>
      <p v-else>...or me</p>
      <p v-show="!showText">You either see me ...</p>
      <p v-show="showText">...or me</p>
    </div>

    <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
    <ul>
      <li v-for="(group, index) in kpopGroups">{{ group }} ({{ index }})</li>
    </ul>

    <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
    <ul>
      <li v-for="(value, key, index) in myObject">{{ key }}: {{ value }} ({{ index }})</li>
    </ul>

    <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
    <ul>
      <li v-for="value in testData">
        <template v-if="Array.isArray(value)">
          <span v-for="element in value">{{ element }} </span>
        </template>
        <template v-else>
          {{ value }}
        </template>
      </li>
    </ul>
  </div>
</body>

<script>
  new Vue({
    el: '#exercise',
    data: {
      showText: true,
      kpopGroups: ['Exo', 'Bigbang', 'Bts'],
      array: ['Max', 'Anna', 'Chris', 'Manu'],
      myObject: {
        title: 'Lord of the Rings',
        author: 'J.R.R. Tolkiens',
        books: '3'
      },
      testData: {
        name: 'TESTOBJECT', 
        id: 10,
        data: [1.67, 1.33, 0.98, 2.21]
      }
    }
  });
</script>
</html>


